@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.feedback-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.frame {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("https://dummyimage.com/400x400/000/fff");
}
.frame {
  -webkit-animation: zoomeffect 10s infinite;
  -moz-animation: zoomeffect 10s infinite;
  animation: zoomeffect 10s infinite;
}
@-webkit-keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(2, 2);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}
@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(2, 2);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}

/* background-image: url("https://wallpapercave.com/wp/wp2722874.jpg"); */

.main_image {
  background-image: url(./assets/main_img.jpeg);
  animation: forwards 30s zoom-in-out;
}
.careee_main_image {
  background-image: url(./assets/career_goals_main_img.jpeg);
  animation: forwards 30s zoom-in-out;
}

@keyframes zoom-in-out {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

@media (max-width: 1150px) {
  .main_image {
    background-image: url(./assets/main_ipad_img.jpeg);
    height: 100vh;
  }
  .careee_main_image {
    background-image: url(./assets/career_main_ipad_img.jpeg);
    height: 100vh;
  }
}
@media (max-width: 850px) {
  .main_image {
    background-image: url(./assets/main_img_mobile.jpeg);
    height: 100vh;
  }
  .careee_main_image {
    background-image: url(./assets/career_main_img_mobile.jpeg);
    height: 100vh;
}
}
@media screen and (max-width: 850px) {
  .header_text {
    margin-top: 40%;
  }
  .main_heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 380px) {
  .header_text {
    margin-top: 0;
  }
  .main_heading {
    font-size: 50px;
  }
  .banner_paragraph {
    font-size: 14px;
  }
  .banner_about {
    font-size: 16px;
  }
}

.whatsapp_icon:hover {
  animation: pulse 1s infinite;
  transition: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.qualifications_container {
  width: 100%;
  padding: 0 10px;
}

.qualifications_container {
  padding-right: calc(10% - 100%);
}
main._row {
  margin: 30px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
/* ._col header._title {
  font-family: helvetica;
  color: red;
  padding: 0 0 20px 30px;
} */
._col ._contents {
  padding: 0 30px;
  border-left: 2px solid #141824;
}

._col ._contents ._box {
  position: relative;
  padding: 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 20px;
  border-radius: 8px;
}
._col ._contents ._box:hover {
  box-shadow: 0 3px 12px 0 #ccc;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  border: 1px solid transparent;
}

._col ._contents ._box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 24px);
  top: -2px;
  background-color: #141824;
}
._box h4 {
  position: relative;
  color: #2196f3;
}
._box h3 {
  font-size: 19px;
  padding: 10px 0 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: #214d76;
}
._box p {
  line-height: 1.2;
  color: #666;
  font-size: 14px;
}

@media (max-width: 768px) {
  main._row {
    grid-template-columns: 1fr;
  }
  ._row ._col:nth-child(2) {
    margin-top: 30px;
  }
}

._contact_left {
  flex-basis: 45%;
}
._contact_right {
  flex-basis: 50%;
}

.social_icons a {
  text-decoration: none;
  font-size: 30px;
  color: #ababab;
  display: inline;
  transition: transform 05s;
}

.social_icons a:hover {
  color: #d43b2a;
  transform: translateY(-5px);
}

._social_icons {
  font-size: 27px;
  background-color: #141824;
  padding: 7px 9px;
  color: #f0f0f0;
  border-radius: 6px;
}
._contact_right form {
  width: 100%;
}
/* form input,
form textarea {
  width: 100%;
  border: 1px solid #3f3e45;
  outline: none;
  background: #183652;
  padding: 15px;
  color: #ffffff;
  margin: 15px 0;
  font-size: 15px;
  border-radius: 6px;
} */
._work_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 30px 0 30px 0;
}

._work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
._work_list img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  transition: transform 0.5s;
}

.portfolio_card_leyer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.portfolio_card_leyer h3 {
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}
.portfolio_card_leyer p {
  color: white;
}

.portfolio_card_leyer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

._work:hover img {
  transform: scale(1.1);
}
._work:hover .portfolio_card_leyer {
  height: 100%;
}
.see_more_btn {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 9px 40px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.6s;
}

.see_more_btn:hover {
  background: #ff004f;
}

@media only screen and (max-width: 600px) {
  ._contact_left,
  ._contact_right {
    flex-basis: 100%;
  }
}

.testmonials_container {
  max-width: 600px;
  margin: auto;
}
.testmonials_item {
  text-align: center;
  cursor: pointer;
}

.thumb {
  width: 4.6rem;
  border-radius: 50%;
  margin: 0 auto;
}
.testmonials_title {
  margin-top: 0.75rem;
}
.testmonials_title {
  color: #8b88b1;
  font-size: 14px;
}
.testmonials_comments {
  background-color: #ffffff;
  padding: 1.875rem;
  margin-top: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  position: relative;
  margin-bottom: 3rem;
}
.swiper-pagination-bullet {
  width: 0.6rem !important;
  height: 0.6rem !important;
  background-color: #141824;
}

.main_btn {
  font-family: "proxima-nova", sans-serif;

  padding: 0.6rem 2.1rem;

  color: #141824;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #141824;
  border-radius: 0.375rem 0.375rem 1.5rem;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

.main_btn:hover {
  border: 2px solid #141824;
  color: #ffffff !important;
}

.main_btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(2, 179, 2, 0.664);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.main_btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(255, 0, 0, 0.295);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.main_btn:hover::before,
.main_btn:hover::before {
  opacity: 1;
  width: 116%;
}
.main_btn:hover::after,
.main_btn:hover::after {
  opacity: 1;
  width: 120%;
}

.consultation_btn {
  font-family: "proxima-nova", sans-serif;

  padding: 0.6rem 2.1rem;

  color: #ffffff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0.375rem 0.375rem 1.5rem;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(2, 179, 2, 0.664);
  z-index: 10;
}

.consultation_btn:hover {
  color: #ffffff !important;
}

.consultation_btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(2, 179, 2, 0.164);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.consultation_btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: rgba(2, 179, 2, 0.664);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.consultation_btn:hover::before,
.consultation_btn:hover::before {
  opacity: 1;
  width: 116%;
}
.consultation_btn::after,
.consultation_btn:hover::after {
  opacity: 1;
  width: 120%;
}

.about_container {
  margin: 30px 0 30px 0;
  grid-template-columns: 3fr 9fr;
  column-gap: 1.875rem;
}
.about_data {
  padding: 1.875rem;
  background-color: white;
  box-shadow: red;
  border-radius: 20px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
}

.about_data::before {
  color: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid red;
  position: absolute;
  left: -0.93rem;
  top: 20%;
}
.about_description {
  margin-top: 1rem;
  text-align: justify;
}
.about_skills {
  row-gap: 1.25rem;
}
.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.skills_name {
  font-size: 17px;
  font-weight: 600;
}
.skills_number {
  line-height: 1.2;
}

.skills_bar,
.skills_percentage {
  height: 7px;
  border-radius: 0.25rem;
}
.skills_bar {
  background-color: #dad0cf;
}

.skills_percentage {
  display: block;
}
.python {
  width: 90%;
  background-color: #3775a9;
}
.Cloud_and_DevOps {
  width: 69%;
  background-color: red;
}
.javasript {
  width: 54%;
  background-color: #f6de1e;
}
.ai {
  width: 35%;
  background-color: #361a8b;
}
@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 720px;
    justify-content: center;
    row-gap: 1.875rem;
  }
  .about_data::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left: 49%;
    top: -20px;
  }
  .about_img {
    justify-self: center;
  }
}
@media screen and (max-width: 768px) {
  .about_container {
    grid-template-columns: 350px;
  }
  .about_data::before {
    left: 47%;
  }
  .about_data {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }
}

/* .wrapper {
  width:100%;
  height:100%;
  overflow:hidden;
} */

/* .frame{
  height:100%;
  width:100%;
  background-position:center;
  background-size:cover;
  background-image: url('https://dummyimage.com/400x400/000/fff');
} */
/* body{
  background-image: url("https://wallpapercave.com/wp/wp2722874.jpg");
  height:100%;
  width:100%;
} */
/* 
.name_heading{
  clip-path: polygon(0,0, 100% 100% 0%, 100%);
  line-height: 5.6rem;
}


.chars{
  transform: translate(115px);
  transition: transform .5s;
} */

.contact.section {
  padding-bottom: 6.25rem;
}

.contact_container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.contact_title {
  font-size: 30px;
  margin-bottom: 0.5rem;
}
.contact_form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.contact_form-div {
  position: relative;
  margin-bottom: 1.875rem;
  height: 3.75rem;
}

.contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #141824;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 6px 6px rgba(0, 0, 0, 0.082);
  padding: 0.625rem 1.875rem;
  z-index: 1;
}

.contact_form-area {
  height: 10.25rem;
}

.contact_form-area textarea {
  resize: none;
}

.contact_info {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 6px 6px rgba(0, 0, 0, 0.082);
}

@media screen and (max-width: 1024px) {
  .contact_container {
    grid-template-columns: 300px 360px;
    justify-content: center;
  }
  .contact_form-group {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .contact_container {
    grid-template-columns: 345px;
    row-gap: 1.875rem;
  }
  .contact_info {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .contact_container {
    grid-template-columns: 1fr;
  }
}
.social_icons {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.social_icons:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.social_icons_footer:hover {
}

.contact_links:hover {
  color: #2196f3;
}

.services_container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
}
.services_card {
  text-align: center;
  padding: 1.875rem;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.services_card:hover {
  transform: translateY(-5px);
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f); */
  box-shadow: 0px 20px 100px -10px rgba(15, 16, 19, 0.171);
}
.career_objectives_card {
  text-align: center;
  padding: 1.875rem;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.career_objectives_card:hover {
  transform: translateY(-1px);
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.career_requirements_card {
  text-align: center;
  padding: 1.875rem;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.career_requirements_card:hover {
  transform: translateY(-1px);
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 1024px) {
  .services_container {
    grid-template-columns: repeat(2 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}
@media screen and (max-width: 868px) {
  .services_container {
    grid-template-columns: 310px;
  }
}
